<div class="col-md-3 p-2">
  <div>
    <form class="form-inline my-2 my-lg-0" action="/searchUsers/" method="GET">
      <!-- <i class="fas fa-search"></i> -->
      <input
        id="myInput"
        class="bg-light p-2 search"
        type="search"
        placeholder="Buscar en Twitter"
        aria-label="Search"
        style="font-family: Arial, 'Font Awesome 5 Free'"
        name="lookFor"
      />
      <button
        style="background: transparent; border: none !important; font-size: 0"
        id="myBtn"
        type="submit"
      >
        busca
      </button>
    </form>
  </div>

  <div class="mt-3 bg-light p-3 sugerencias">
    <h5>
      <strong>Tendencias para ti </strong>
    </h5>
    <div class="divTrending">
      <p class="sideBarTrendingInfo">Futbol - Tendencia</p>
      <p class="trendingImportant"><strong>Tabarez</strong></p>
      <p class="sideBarTrendingInfo">4.370 Tweets</p>
    </div>
    <div class="divTrending">
      <p class="sideBarTrendingInfo">Deportes - Tendencia</p>
      <p class="trendingImportant"><strong>Uruguay</strong></p>
      <p class="sideBarTrendingInfo">1.968 Tweets</p>
    </div>
    <div class="divTrending">
      <p class="sideBarTrendingInfo">Tendencias en uruguay</p>
      <p class="trendingImportant"><strong>Maria Becerra</strong></p>
    </div>
    <div class="divTrending">
      <p class="sideBarTrendingInfo">Tendencias en uruguay</p>
      <p class="trendingImportant"><strong>Punta del Este</strong></p>
    </div>
    <div class="mt-4">
      <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" href=" #"
        >Mostrar mas</a
      >
    </div>
  </div>
  <div class="mt-3 bg-light p-3 sugerencias">
    <h5><strong>A quien seguir</strong></h5>
    <% for(user of randomUsers) { %> <% if (!thisUser.following.includes(user.id)) { %>
    <div class="divTrending d-flex justify-content-between">
      <img
        class="avatarTrending align-self-center"
        src="/img/profiles/<%= user.avatarPic %>"
        alt=""
      />
      <div class="align-self-center">
        <p class="ml-2 trendingImportant">
          <strong><%= user.firstName%> <%= user.lastName%></strong>
        </p>
        <p class="sideBarTrendingInfo">@<%= user.userName%></p>
      </div>
      <form action="/follow" method="POST" id="follow<%= user.id%>" class="d-inline">
        <input type="hidden" name="userToFollow" value="<%= user.id%>" />
        <button class="btn btn-outline-primary rounded-pill" type="submit">Seguir</button>
      </form>
    </div>
    <% } %> <% } %>

    <div class="mt-4">
      <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" href=" #"
        >Mostrar mas</a
      >
    </div>
  </div>

  <div id="conditions" class="mt-3 p-2">
    Condiciones de Servicio Política de Privacidad Política de cookies Información de anuncios Más
    opciones © 2021 Twitter, Inc.
  </div>
</div>

<script>
  var input = document.getElementById("myInput");
  input.addEventListener("keyup", function (event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("myBtn").click();
    }
  });
</script>
