<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta") %>
  </head>
  <body>
    <div id="principalRow" class="row">
      <%- include("partials/leftSideBar",{ user }) %>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-start align-self-center homeDiv p-2">
              <h5><strong>Inicio </strong></h5>
            </div>
            <form action="/tweet" method="POST">
              <div
                class="d-flex justify-content-start align-self-center homeDiv homeDivPrincipal p-2"
              >
                <img id="homeTweetPic" src="/img/profiles/<%= thisUser.avatarPic %> " alt="" />

                <textarea
                  id="inputHome"
                  name="tweetContent"
                  placeholder="¿Que esta pensando?"
                  maxlength="141"
                ></textarea>
              </div>
              <div id="twittear" class="d-flex justify-content-end align-self-center homeDiv p-2">
                <button id="twInputButton" type="submit" class="btn btn-primary">
                  <strong>Twittear </strong>
                </button>
              </div>
            </form>
            <% homeTweets.forEach(tweet => { %>
            <div class="d-flex justify-content-start align-self-center homeDiv p-3">
              <img class="avatarTrending" src="/img/profiles/<%= tweet.owner.avatarPic %>" alt="" />
              <div class="mx-3" style="height: auto !important">
                <h5><%= tweet.owner.firstName%> <%= tweet.owner.lastName%></h5>
                <span class="fst-italic fs-6"><%= tweet.date.toLocaleDateString() %></span>
                <p style="max-width: 100%"><%= tweet.content%></p>
              </div>
            </div>
            <div
              id="optionsDiv"
              class="d-flex justify-content-around align-self-center homeDiv p-2 mb-2"
            >
              <i class="far fa-comment"></i>
              <i class="fas fa-retweet"></i>
              <div><i class="far fa-heart"></i> <%= tweet.likes.length%></div>
              <i class="fas fa-external-link-alt"></i>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <%- include("partials/rightSideBar") %>
    </div>
  </body>
</html>
