<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta") %>
  </head>
  <body>
    <div id="principalRow" class="row">
      <%- include("partials/leftSideBar",{ user }) %>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-start align-self-center homeDiv p-2">
              <h5><strong>Inicio </strong></h5>
            </div>
            <div
              class="d-flex justify-content-start align-self-center homeDiv homeDivPrincipal p-2"
            >
              <img
                id="homeTweetPic"
                src="https://educacionejecutivablog.files.wordpress.com/2015/06/tec_monterrey_empresario_5.jpg"
                alt=""
              />
              <textarea id="inputHome" placeholder="¿Que esta pensando?" maxlength="140"></textarea>
            </div>
            <div id="twittear" class="d-flex justify-content-end align-self-center homeDiv p-2">
              <button id="twInputButton" type="button" class="btn btn-primary">
                <strong>Twittear </strong>
              </button>
            </div>

            <% homeTweets.forEach(tweet => { %>
            <div class="d-flex justify-content-start align-self-center homeDiv p-3">
              <img class="avatarTrending" src="/img/profiles/<%= tweet.owner.avatarPic %>" alt="" />
              <div class="mx-3">
                <h5><%= tweet.owner.firstName%> <%= tweet.owner.lastName%></h5>
                <p><%= tweet.content%></p>
              </div>
            </div>
            <div
              id="optionsDiv"
              class="d-flex justify-content-around align-self-center homeDiv p-2 mb-2"
            >
              <i class="far fa-comment"></i>
              <i class="fas fa-retweet"></i>
              <div><i class="far fa-heart"></i> <%= tweet.likes.length%></div>
              <i class="fas fa-external-link-alt"></i>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <%- include("partials/rightSideBar") %>
    </div>
  </body>
</html>
