<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta") %>
  </head>
  <body>
    <div id="principalRow" class="row">
      <%- include("partials/leftSideBar",{ user }) %>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-start align-self-center homeDiv p-2">
              <h3><strong>Tweets mas recientes </strong></h3>
            </div>
            <form action="/tweet" method="POST">
              <div
                class="d-flex justify-content-start align-self-center homeDiv homeDivPrincipal p-2"
              >
                <img id="homeTweetPic" src="/img/profiles/<%= thisUser.avatarPic %> " alt="" />

                <textarea
                  id="inputHome"
                  name="tweetContent"
                  placeholder="¿Que esta pensando?"
                  minlength="1"
                  maxlength="141"
                ></textarea>
              </div>
              <div id="twittear" class="d-flex justify-content-end align-self-center homeDiv p-2">
                <button id="twInputButton" type="submit" class="btn btn-primary">
                  <strong>Twittear </strong>
                </button>
              </div>
            </form>
            <% homeTweets.forEach(tweet => { %>
            <div class="d-flex justify-content-start align-items-center homeDiv p-3">
              <img class="avatarTrending" src="/img/profiles/<%= tweet.owner.avatarPic %>" alt="" />
              <div class="mx-3" style="height: auto !important">
                <div class="d-flex justify-content-start align-items-center">
                  <h5 class="m-0"><%= tweet.owner.firstName%> <%= tweet.owner.lastName%></h5>
                  <span class="px-2 text-muted"> @<%= tweet.owner.userName%></span>
                  <span class="fst-italic fs-6 text-muted">
                    - <%= tweet.date.toLocaleDateString() %></span
                  >
                </div>

                <p class="text-break p-2"><%= tweet.content%></p>
              </div>
            </div>
            <div
              id="optionsDiv"
              class="d-flex justify-content-around align-self-center homeDiv p-2 mb-2"
            >
              <i class="far fa-comment"></i>
              <i class="fas fa-retweet"></i>
              <div class="d-inline">
                <form
                  action="/likeToggle"
                  method="POST"
                  id="like-form<%= tweet.id%>"
                  class="d-inline"
                >
                  <input type="hidden" name="user" value="<%= user.id%>" />
                  <input type="hidden" name="tweet" value="<%= tweet.id%>" />
                  <i
                    class="
                      far
                      fa-heart
                      cursor_pointer
                      <%if(tweet.likes.includes(user.id))
                      {
                      %>text-danger
                      <%}%>
                    "
                    onclick="document.getElementById('like-form<%= tweet.id%>').submit();"
                  ></i>
                </form>

                <span class="cursor_pointer d-inline"><%= tweet.likes.length%></span>
              </div>
              <i class="fas fa-external-link-alt"></i>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <%- include("partials/rightSideBar") %> <%- include("partials/scripts.ejs") %>
    </div>
  </body>
</html>
