<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta") %>
  </head>
  <body>
    <div id="principalRow" class="row">
      <%- include("partials/leftSideBar",{ user }) %>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-start align-self-center homeDiv p-2">
              <h3><strong> Usuarios </strong></h3>
            </div>

            <% users.forEach(user => { %>
            <div class="d-flex justify-content-start align-items-center homeDiv p-3">
              <img class="avatarTrending" src="/img/profiles/<%= user.avatarPic %>" alt="" />
              <div class="mx-3" style="height: auto !important">
                <div class="d-flex justify-content-start align-items-center">
                  <h5 class="m-0"><%= users.firstName%> <%= user.lastName%></h5>
                  <span class="px-2 text-muted"> @<%= user.userName%></span>
                </div>
                <div class="mt-2">
                  <form action="/follow" method="POST" id="follow<%= user.id%>" class="d-inline">
                    <button class="btn btn-outline-primary rounded-pill">
                      Seguir
                      <i class="" onclick=""> </i>
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <% }) %>
          </div>
        </div>
      </div>
      <%- include("partials/rightSideBar") %> <%- include("partials/scripts.ejs") %>
    </div>
  </body>
</html>
